$fondoBlanco: #fff; 
$fondoOscuro:#262626;
$textoBlanco:#d7d7d7;
$amarillo:#ECE950;
$grisClaro:#969da5;
$grisFondo:#444; 
$grisTexto:#262626;   
$negro:black;
$instagram:#2F5D84;
$twitter: #5abed6;
$facebook: #39599F;
$youtube: #D12227;
$whatsapp: #41bd36;
$email: #cc34d1;
$contacto:  #ECE950;
